body {
  background-color: rgba(0, 39, 76);
  font-family: Consolas, monaco, monospace;
}

.div-1 {
  color: #FFFFFF;
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
}
.div-2 {
  color: #FFFFFF;
  text-align: left; 
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: white;
}


a:visited {
  color: yellow;
}

a:hover {
  color: white;
}

a:active {
  color: red;
}